@import url("./estilo/header.css");
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

:root{
    --cor-de-fundo:#000000;
    --cor-da-fonte:#A72020;
    --cor-dos-titulos:#055C03;
    --cor-dos-titulos-2:#A72020;
    --cor-dos-titulos-3:#0019FF;
    --cor-de-fundo-cabecalho:#D9D9D9;
}

body{
    background-color: var(--cor-de-fundo);
}

.conteudo1 p{
    color: white;
    font-size: 20px;
}

.rodape{
    background-color: #D9D9D9;
    color: white;
    text-align: center;
    font-size: 20px;
}

.rodape p{
    height: 44px;
    padding-top: 20px;
}