.cabecalho{
    background-color: var(--cor-de-fundo-cabecalho);
    color: var(--cor-dos-titulos-2);
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.cabecalho-bope{
    width: 40px;
}

.cabecalho--menu-hamburguer{
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center;
    background-image: url(../Vector.png);
    background-repeat: no-repeat;
}

.cabecalho--titulo{
    font-size: 30px;
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
  }

.container{
    display: flex;
    align-items: center;
}

.lista-menu{
    display: none;
}

.container--botao:checked ~ .lista-menu{
    display: block;
}

